@font-face {
    font-family: 'shamalimedium';
    src: url(HankenGrotesk-Medium.ttf);
}
@font-face {
    font-family: 'shamaliB';
    src: url(HankenGrotesk-Bold.ttf);
    font-family: 'shamaliE';
    src:url(HankenGrotesk-ExtraBold.ttf) ;
}
.mainDiv{
width: 40%;
height: 55%;
background-color: rgb(255, 255, 255);
display:inline-flex;
align-items:center ;
justify-content: center;
border-radius: 50px;
box-shadow: 10px 5px 19px rgb(212, 235, 243);
/*
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
margin: auto;
/*
or
position absoulute
left 50%
top50%
transform translate(-50%,-50%)
*/
border:1px solid rgb(255, 255, 255) ;

}
body{margin:0 ;}
#l{
display: flex;
align-items:center ;
justify-content: center;
/*or
display grid 
pace items center
*/
}
.right{
    width: 50%;
    height: 100%;   
    background-color: hsl(0, 0%, 100%);
    margin-left: -50%;
    position:relative;
    border-radius: 29px;
}
.In{
width: 50%;
height: 100%;
display: grid;
place-items: center;
background-color: hsl(212, 62%, 66%);
margin-right: 50%;
border-radius: 29px;
}
.p{
    font-family:'shamalimedium';
    transform: translate(0px, -152px);
    font-size: 22;
    opacity: 70%;
    color: rgb(233, 233, 233);
    position:fixed;
}
.p1{
    font-size: 30px; 
    font-family: 'shamaliB';
    color: rgb(248, 240, 232);
    position: absolute;
    padding-top:11%;
}
#C{
width: 150px;
height: 150px;
display: grid;
place-items: center;
border-radius: 100%;
background-color: hsl(212, 48%, 50%);
font-size: 60px;
transform: translate(0px,84px);
font-family: 'shamaliE';
color: aliceblue;

}
.p2{
    font-size:18px;
    text-align: center;
    width: 205px;
    margin-top: 50%;
    color:rgb(233, 233, 233) ;
    opacity: 70%;
}
#o{
    font-size: 18px;
    opacity: 70%;
    padding-top: 24px;
}
#sum{
    font-family: 'shamalimedium';
    font-size: 22px;
    color: rgb(42, 41, 41);
    position: relative;
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;
}
#div{
background-color: rgb(255, 255, 255);
height:72%;
width:100%;
border-radius: 100px;
}
#fir{

}
#fif{
    margin-top: 11px;
    border-radius: 50px;
}
.common{
background-color: hsl(212, 62%, 66%);
width: 94%;
height: 16%;
border-radius: 9px;
margin: 7px;
display:inline-flex;
position: relative;
}
#fir{
    background-color: hsla(11, 79%, 57%, 0.2);
}
#sec{
    background-color: hsla(64, 94%, 69%, 0.2);

}
#thir{
    background-color: hsla(149, 35%, 49%, 0.2);

}
#for{
background-color: rgb(104, 104, 243 , .2);
}